@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainBlock marBtm">
    <h2><span>
        <img src="~/Images/ico-email-server.png" /></span>New Patient</h2>
    <div class="blockCon" id="emailpreferences">
        <div class="formArea noBorder noBg">
            <div class="col">
                <div class="formRow">
                    <label class="fieldLabel">SMTP Server:</label>
                    <div class="fieldInput">
                    </div>
                </div>
                <div class="formRow">
                    <label class="fieldLabel">SMTP Username:</label>
                    <div class="fieldInput">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="formRow">
                    <label class="fieldLabel">SMTP Password:</label>
                    <div class="fieldInput">
                    </div>
                </div>
                <div class="formRow">
                    <label class="fieldLabel">Webmaster Email:</label>
                    <div class="fieldInput">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
