@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageheader">
    <div class="pageicon"><span class="iconfa-home"></span></div>
    <div class="pagetitle">
        <h5>All Features</h5>
        <h1>Home</h1>
    </div>
</div>
<!--pageheader-->
<div class="maincontent">
    <div class="maincontentinner">
    </div>
    <!--maincontentinner-->
</div>
<!--maincontent-->
