@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/Controllers/passwordcontroller.js")"></script>

<div class="mainBlock marBtm">
    <h2><span>
        <img src="~/Images/contact.png" /></span>Change Password</h2>
    <div class="blockCon">
        <div class="padd10">
            <div class="blockCon" id="showblockCon">
                <div class="formArea" ng-controller="passwordcontroller">
                    <form name="formChangePassword" novalidate>
                        <div class="msgBox">
                            <span class="ic-msg">
                                <span ng-show="!formChangePassword.$invalid">Valid data. </span>
                                <span class="required" ng-show="formChangePassword.newpassword.$error.required || formChangePassword.confirmpassword.$error.required">All fields are required. </span>
                                <span class="required" ng-show="!formChangePassword.confirmpassword.$error.required && formChangePassword.confirmpassword.$error.noMatch && formChangePassword.newpassword.$dirty">Passwords do not match. </span>
                                <span class="required" ng-show="!formChangePassword.newpassword.$error.required && (formChangePassword.newpassword.$error.minlength || formChangePassword.newpassword.$error.maxlength) && formChangePassword.newpassword.$dirty">Passwords must be between 6 and 10 characters. </span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="formRow">
                                <label class="fieldLabel">Enter New Password:</label>
                                <div class="fieldInput">
                                    <input name="newpassword" type="password" ng-model="password.newpassword" ng-minlength="6" ng-maxlength="10" placeholder="new password" required>
                                    &nbsp; (password 6 - 10 characters)
                                </div>
                            </div>
                            <div class="formRow">
                                <label class="fieldLabel">Confirm New Password:</label>
                                <div class="fieldInput">
                                    <input name="confirmpassword" type="password" ng-model="password.confirmpassword" ng-minlength="6" ng-maxlength="10" placeholder="confirm new password" password-match="password.newpassword" required>
                                </div>
                            </div>
                            <div class="formRow">
                                <label class="fieldLabel">&nbsp;</label>
                                <div class="fieldInput">
                                    <button class="mainActionBtnB" ng-disabled="formChangePassword.$invalid" ng-click="savepassword(password)">Update Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
