@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divValidation" style="color: red; display: none;"></div>
<div class="formArea">
    <div class="col">
        <div class="formRow">
            <label class="fieldLabel">Enter New Password:</label>
            <div class="fieldInput"><input id="txtNewPassword" type="password" />
                &nbsp; (minimum 6 characters)
            </div>
        </div>
        <div class="formRow">
            <label class="fieldLabel">Confirm New Password:</label><div class="fieldInput"><input id="txtConfirmPassword" type="password" /></div>
        </div>
        <div class="formRow">
            <label class="fieldLabel">&nbsp;</label>
            <div class="fieldInput">
                <input id="ChangePassword" class="mainActionBtnB" type="button" value="Save New Password" onclick="return ValidateForm();" />
            </div>
        </div>
    </div>
</div>
