@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

    @Html.AntiForgeryToken()
            
    <div id="divValidation" style="color: red; display: none;"></div>
    <div class="loginPanel">
        <div class="loginOuter">
            <div class="loginInner">
                <div class="formRow">                   
                    <label class="fieldLabel">User Name</label>
                    <div class="fieldInput">
                        <input id="txtUserId" type="text" />
                    </div>
                </div>
                <div class="formRow">                   
                    <label class="fieldLabel">Password</label>
                    <div class="fieldInput"><input id="txtPassword" type="password" />
                    </div>
                </div>
                <br />
                <div class="formRow marTop">
                    <label class="fieldLabel"></label>
                    <div class="fieldInput">
                        <input type="button" id="Login" value="Login" class="mainActionBtn" onclick="return ValidateForm();" />
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#Login").click(function (e) {
            AuthenticateLogin();
            return false;
        });
    });

    function AuthenticateLogin() {
        var id = $('#txtUserId').val().trim();
        var pwd = $('#txtPassword').val().trim();
        if (id.length == 0) {
            PDMSAlert("Enter user name");
            return false;
        }
        else if (pwd.length == 0) {
            PDMSAlert("Enter password");
            return false;
        }
        location = "@Url.Action("Dashboard", "Home")";
    }

</script>
